version: 2
jobs:
   build:
     docker:
       - image: ubuntu:24.04
     steps:
       - checkout
       - run: apt-get update && env DEBIAN_FRONTEND=noninteractive apt-get install -y latex2html make git wget tidy
       - run: make ALLOW_FETCH=1 all web.tar
       - run: mkdir artifacts && make install-out OUT=artifacts/

       - store_artifacts:
           path: artifacts
