name: CI

on:
  # "By default, a workflow only runs when a pull_request event's activity type
  # is opened, synchronize, or reopened."
  # https://docs.github.com/en/actions/reference/workflows-and-actions/events-that-trigger-workflows#pull_request
  - pull_request

jobs:
  container:
    name: Build derivation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-25.11
      - run: make lib-deps ALLOW_FETCH=1
      - name: Fetch PR base commits
        run: |
          git show --stat HEAD^1 HEAD
          make old-tex HASH=HEAD^1
          # If we wanted to consider specifically the changed files
          #for file in `git diff --name-only HEAD^1 HEAD`; do
          #  git show HEAD^1:$file.tex > $file.old-base.tex
          #done
      - name: Run the build
        run: nix-build --argstr hash HEAD^1
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v5
        with:
          name: artifacts
          # Unfortunately symlinks work poorly, so this doesn't actually work
          # https://github.com/actions/upload-artifact/issues/92
          path: results/
