name: CI

on: 
  - push

jobs:
  container:
    name: Build derivation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - run: make lib-deps ALLOW_FETCH=1
      - name: Run the build
        run: nix-build
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v5
        with:
          name: artifacts
          # Unfortunately symlinks work poorly, so this doesn't actually work
          # https://github.com/actions/upload-artifact/issues/92
          path: results/
